.new-tweet {
  background-color: #eee;
  border: black solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 10em 10em .2em 10em;
  padding: 1em 1.5em 1em 1.5em;
  display: none;
}

.new-tweet h2 {
  border-bottom: solid .075em #244751;
  margin: 1px;
}

.new-tweet textarea {
  background-color: white;
  height: 6em;
  margin: 2em 0 1.2em 0;
  width: 100%;
}

.new-tweet input {
  border-radius: 5px;
  position: relative;
}

.counter {
  position: relative;
  float:right;
}

.over {
    color: red;
}

.tweet {
  background-color: #eee;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
  margin: 6em 10em .2em 10em;
}
  .tweet h2 {
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  vertical-align: top;
  margin-left: 1em;
}

  h4 {
  display: inline-block;
  color: #949292;
  float: right;
  margin: 1em 1em 0 0;
  vertical-align: top;
}

 .tweet img{
  display: inline-block;
  border-radius: 5px;
  height: 65px;
  width: 65px;
}

.tweet content {
  background-color: white;
  display: block;
  padding: 1em;
  vertical-align: middle;
}

.tweet footer {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: solid .075em #eee;
  padding: .5em;
}
